.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  background-color: white;
  border-top: 1px solid lightgray;
  padding: 10px;
}

.social__media__icons {
  width: 15%;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__linkedin,
.footer__twitter {
  color: rgb(25, 118, 210);
}
